%header
  %nav
    %ul
      %li Home
      %li About
      %li Explore
      %li Contact
%section.statement
  .container
    %h1
      Live every day to the fullest!
    %p
      We believe in people, we believe in experiences, we believe that it's up to us to develop ourselves, 
      we believe we have the right to choose our own paths, we believe in our freedom of speech...and spirit.
    %p
      We love people that come together and invent new ways of living. We love seeing events happen.
      We love making new friends. We love experiences that we can see, hear, feel and remember.
    %p
      We choose smiling over stress, we choose sharing over possession... we choose ourselves.
    %p
      The world is ours to enjoy and care for, people are ours to grow and live with and events are ours to experience and remember.
%section.get
  .container
    .row
      .col-md-6.aside
        %p.tagline
          Introducing the Sweed New City App
        %p.description
          With our new app you will be able to find all the best places in town.
        .download
          .apple
            %img{:src => "images/apple.png"}/
          .google
            %img{:src => "images/google.png"}/
      .col-md-6.iphone
        %img{:src => "images/iphone.png"}/
%section.features.center
  .container
    %h1
      Join the Sweed-ness!
    .row
      .col-md-4
        %img{:src => "images/shape1.png"}/
        1. Join social events
      .col-md-4
        %img{:src => "images/shape2.png"}/
        2. Find the best places
      .col-md-4
        %img{:src => "images/shape3.png"}/
        3. Book your table
    .row
      .col-md-4
        %img{:src => "images/shape4.png"}/
        4. Jumpstart your conversation
      .col-md-4
        %img{:src => "images/shape5.png"}/
        5. Grow your network
      .col-md-4
        %img{:src => "images/shape6.png"}/
        6. Rate your experience
%section.help.center
  .container
    %h1.headline
      What do you need help with?
    %h2
      This helps us to make sure you get the right answer as fast as possible.
%section.form
  .container
    %form
      .row
        .col-md-6
          .form-group
            %label First name
            %input.form-control
        .col-md-6
          .form-group
            %label Last name
            %input.form-control
      .row
        .col-md-6
          .form-group
            %label E-mail
            %input.form-control
        .col-md-6
          .form-group
            %label Subject
            %input.form-control
      .row.message
        .col-md-12
          %label Message
          %textarea.form-control{:rows => 10}
      .row
        .col-md-3.col-md-offset-9
          %button.btn.btn-primary.navbar-btn.send{:type => "button"} Send a message
%footer
  .container
    .row.icons
      .col-md-6.col-md-offset-3
        .logo
          %img{:src => "images/fb.png"}/
        .logo 
          %img{:src => "images/twitter.png"}/
        %img{:src => "images/google+.png"}/
    .row.info
      .col-md-4
        %p.key Mail
        %p.value hello@sweed.com
      .col-md-4
        %p.key Call
        %p.value +04 191 231 3983
      .col-md-4
        %p.key Find us
        %p.value Str. Fantoma nr.6, Cluj-Napoca
    .row.copyright
      .col-md-6.col-md-offset-3
        &copy 2015 Sweed Application. All rights reserved.

